/* variables */

$anchoPredet: 360px;
$alturaPredet: 480px;

.boton-registrar:hover {
    background-color: white;
    color: crimson;
    transition: .5s;
}

.ver-serie {
    a:hover {
    background-color: white;
    color: crimson;
    transition: .5s;
    }
}

.link-formulario:hover {
    color: yellow;
    text-decoration: underline;
}

/* mapa */

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    instagram: #E1306C
);

/* bucle mapa */

@each $redSocial, $color in $redes {
    .boton-#{$redSocial}{
        color: $color;
    }
}

/* mixins */

@mixin medidas ($width, $height) {
    width: $width;
    height: $height;  
}

/* map get */

.facebook-contenedor {
    border: map-get($redes, facebook) solid 4px;
    @include medidas(60px, 60px);
    border-radius: 15px;
    margin: 20px;
}

.twitter-contenedor {
    @extend .facebook-contenedor;
    border: map-get($redes, twitter) solid 4px;
}

.instagram-contenedor {
    @extend .facebook-contenedor;
    border: map-get($redes, instagram) solid 4px;
}