.boton-registrar:hover {
  background-color: white;
  color: crimson;
  transition: .5s; }

.ver-serie a:hover {
  background-color: white;
  color: crimson;
  transition: .5s; }

.link-formulario:hover {
  color: yellow;
  text-decoration: underline; }
